<% content_for :title do %>
  Stories <% if @page > 1 %>- Page <%= @page %> of <%= @total_pages %> <% end %>
<% end %>

<h1>Stories</h1>

<ol class="object-list stories-list">
<% @stories.each do |story| %>
  <%= render partial: "story_list_item", locals: { story: story } %>
<% end %>
</ol>


<%= will_paginate @stories %>
