<p>Ficly was a labor of love to rescue a community abandoned by its owner.  It became too much for us to handle, so we've sunset it and created this static version so the content remains available.</p>
<p>You should start by <%= link_to "browsing the stories", stories_path %>, perusing our <%= link_to "many amazing authors", authors_path %>, or <%= link_to "wandering some tags", tags_path %>.</p>
<p>If you'd like to play with the stories themselves, <%= link_to "we have a page for that too", "http://ficly.org" %>.</p>
