<% content_for :title do %>
Challenges <% if @page > 1 %>- Page <%= @page %> of <%= @total_pages %> <% end %>
<% end %>

<h1>Challenges</h1>

<ol class="object-list challenges-list">
<% @challenges.each do |challenge| %>
  <%= render partial: "challenge_list_item", locals: { challenge: challenge } %>
<% end %>
</ol>


<%= will_paginate @challenges %>
